body {
    font-family: trebuchet ms, helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #e0e0e0;
}

.container.dark-mode {
    background: #2c2c2c;
}

body:not(.dark-mode) {
    background-color: #e9ecef;
    color: #000;
}

.container:not(.dark-mode) {
    background: white;
}

h1, h2, h3 {
    text-align: center;
    color: #000033;
    margin-bottom: 20px;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #f8c94c;
}

form, #filter-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 23%;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #f8c94c;
}

button {
    padding: 14px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
    transition: background-color 0.3s, transform 0.2s;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

li button {
    background-color: #dc3545; /* Red for remove buttons */
    border-radius: 5px;
    border: none;
    color: white; /* Text color */
    padding: 5px 10px; /* Adjust padding */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
}

li button:hover {
    background-color: #c82333; /* Darker red on hover */
}

#expense-summary {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Toggle Styles */
.toggle {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.toggle input {
    display: none;
}

.slider {
    width: 65px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.4s;
    overflow: hidden;
}

.sun,
.moon {
    font-size: 20px;
    transition: opacity 0.3s, transform 0.3s;
    color: yellow;
    display: flex;
    align-items: center;
}

.moon {
    color: #f8c94c;
    opacity: 0; /* Initially hidden */
}

input:checked + .slider {
    background-color: #007bff; /* Blue when checked */
}

input:checked + .slider .sun {
    opacity: 0; /* Hide sun when dark mode is on */
}

input:checked + .slider .moon {
    opacity: 1; /* Show moon when dark mode is on */
}
